@charset "utf-8";

@import "reset.css";

#app {
	margin: 0 auto;
	background-size: cover;
	background-image: url("assets/home_agency.jpg");
	height: 3100px;
	width: 960px;
}

#app header {
	background-size: cover;
	background-image: url("assets/lion2.png");
	height: 673px;
	opacity: 0.5;
	
}

.header--logo {
	padding: 29px 0px 0px 38px ;
}

.header--logo h1 {
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
    color: white;
    font-weight: bold;
    letter-spacing: 2.2px;
  }

.header--menu {
	padding: 0px 48px 0px 0px; 
    width: 19px;
    height: 19px;
    float: right;
}

.header--menu svg {
    fill: white;
}

.header--welcome {
	padding: 124px 0px 0px 210px;
}

.header--welcome span {
	font-family: 'Montserrat', sans-serif;
	color: white;
	font-weight: bold;
	font-size: 10px; 
	letter-spacing: 2.2px;
}

.header--title {
	padding: 40px 0px 0px 0px;
}

.header--title h2 {
	font-family: 'Montserrat', sans-serif;
	color: white;
	font-weight: bold;
	font-size: 38px; 
	letter-spacing: 2.2px;
}

.header--info {
	padding: 4px 0px 0px 0px;
}

.header--info span {
	font-family: 'Montserrat', sans-serif;
	letter-spacing: 0px;
	color: red;
	font-size: 8px; 
}

.header--arrow {
	display: block;
	margin: 32px 0px 0px 4px;
    width: 15px;
    height: 15px;
    border: solid 2px white;
    border-radius: 32px;
}

.header--arrow svg {
    fill: white;
}